<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
      <div>
        <h2 class="font-semibold text-xl text-gray-600">Registrarte</h2>
        <form (ngSubmit)="handleSubmit()">
          <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-1">
                <div>
                  <label for="name">Nombre</label>
                  <input type="text" name="name" id="name"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    [(ngModel)]="formData.name" required />
                </div>
                <div>
                  <label for="email">Correo</label>
                  <input type="text" name="email" id="email"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    [(ngModel)]="formData.email" required />
                </div>
                <div>
                  <label for="password">Contraseña</label>
                  <input type="password" name="password" id="password"
                    class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                    [(ngModel)]="formData.password" required />
                </div>
              
                <!-- Campo para subir el avatar -->
                <div class="avatar-selection">
                    <label for="avatar">Selecciona un avatar</label>
                    <div class="avatars">
                      <img
                        *ngFor="let avatar of availableAvatars"
                        [src]="avatar"
                        [class.selected]="avatar === selectedAvatar"
                        (click)="selectAvatar(avatar)"
                        class="avatar-option"
                      />
                    </div>
                  </div>
                  
        
              
              <div class="text-red-500" *ngIf="errorMessage">{{ errorMessage }}</div>
            </div>
          </div>
          
          <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Registrar</button>
          </form>
      </div>
    </div>
  </div>
  