<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
    <div class="container max-w-screen-lg mx-auto">
        <div>
            <h2 class="font-semibold text-xl text-gray-600">Editar Rol</h2>
            <form (ngSubmit)="updateRole()">
                <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                        <div class="text-gray-600">
                            <p class="font-medium text-lg">Detalles del Rol</p>
                            <p>Por favor selecciona los permisos para el rol</p>
                        </div>

                        <div class="lg:col-span-2">
                            <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-1">
                                <div>
                                    <label for="name">Nombre</label>
                                    <input type="text" name="name" id="name"
                                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                                        [(ngModel)]="roleData.name" readonly/>
                                </div>
                                <div>
                                    <label for="permissions">Permisos</label>
                                    <div>
                                        <div *ngFor="let permission of permissions">
                                            <input type="checkbox" name="permissions" id="permission{{ permission.id }}"
                                                class="form-checkbox"
                                                [checked]="isPermissionSelected(permission.id)"
                                                (change)="togglePermissionSelection(permission.id, $event)" />
                                            <label for="permission{{ permission.id }}" class="ml-2">{{ permission.name }}</label>
                                        </div>
                                        <span class="text-red-500" *ngIf="selectedPermissions.size === 0">Debe seleccionar al menos un permiso</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Actualizar</button>
            </form>
        </div>
        <div *ngIf="errorMessage" class="mt-4 text-red-600">{{ errorMessage }}</div>
    </div>
    
</div>
