 
  .reg-button {
    background-color: #f84525;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: bold;
  }
  
  .delete-button,
  .update-button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
  }
  
  .delete-button {
    background-color: #e3342f;
    color: white;
  }
  
  .update-button {
    background-color: #38c172;
    color: white;
  }
  button {
    &.active {
      --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
      --tw-text-opacity: 1;
      color: rgb(75 85 99 / var(--tw-text-opacity));
    }
  }
  
  