<div #app id="app" class="app relative">
  <div #relationModal id="relationModal" style="display: none;"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" tabindex="-1" role="dialog">
    <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
      <div class="modal-header border-b pb-3 mb-4">
        <h5 class="text-xl font-semibold text-gray-800">Selecciona el tipo de relación</h5>
      </div>
      <div class="modal-body space-y-4">
        <!-- Contenido del modal -->
        <div>
          <label for="relationType" class="block text-sm font-medium text-gray-700">Tipo de Relación:</label>
          <select id="relationType" [(ngModel)]="selectedRelationType" (ngModelChange)="onRelationTypeChange($event)"
            class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <option value="asociacion">Asociación</option>
            <option value="agregacion">Agregación</option>
            <option value="composicion">Composición</option>
          </select>
        </div>

        <div>
          <label for="relationLabel" class="block text-sm font-medium text-gray-700">Etiqueta de la relación:</label>
          <input type="text" id="relationLabel" [(ngModel)]="relationLabel"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
        </div>

        <div>
          <label for="sourceMultiplicity" class="block text-sm font-medium text-gray-700">Multiplicidad del
            Source:</label>
          <select id="sourceMultiplicity" [(ngModel)]="sourceMultiplicity"
            [disabled]="selectedRelationType === 'agregacion' || selectedRelationType === 'composicion'"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm disabled:bg-gray-100 disabled:cursor-not-allowed">
            <option value="1">1</option>
          
            <option value="1..*">1..*</option>
          </select>
        </div>

        <div>
          <label for="targetMultiplicity" class="block text-sm font-medium text-gray-700">Multiplicidad del
            Target:</label>
          <select id="targetMultiplicity" [(ngModel)]="targetMultiplicity"
            [disabled]="selectedRelationType === 'agregacion' || selectedRelationType === 'composicion'"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm disabled:bg-gray-100 disabled:cursor-not-allowed">
            <option value="1">1</option>
            <option value="1..*">1..*</option>
          </select>
        </div>
      </div>

      <div class="modal-footer mt-6 border-t pt-3 flex justify-end space-x-3">
        <button type="button"
          class="btn btn-secondary px-4 py-2 bg-gray-300 text-gray-800 rounded-md hover:bg-gray-400 focus:outline-none"
          (click)="closeModal()">Cancelar</button>
        <button type="button"
          class="btn btn-primary px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none"
          (click)="confirmRelation()">Confirmar</button>
      </div>
    </div>
  </div>


  <div #canvas class="canvas"></div>

  <!-- Botón flotante con texto "Mapeo" -->
  <div class="relative">
    <button class="z-20 text-white flex flex-col shrink-0 grow-0 justify-around 
                  fixed bottom-10 right-0 mt-5 mr-5 lg:mr-10 lg:mt-10 xl:mr-15 xl:mt-15
                  rounded-lg bg-orange-600 p-3" (click)="redirectToMapeo()">
      <div class="flex items-center">
        <span class="text-lg font-bold">Mapeo</span>
        <svg width="24px" height="24px" viewBox="0 0 1.44 1.44" fill="none" xmlns="http://www.w3.org/2000/svg"
          class="ml-2">
          <path width="48" height="48" fill="white" fill-opacity="0.01" d="M0 0H1.44V1.44H0V0z" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0.12 1.225q0.22 -0.269 0.391 -0.305t0.325 -0.011V1.23L1.32 0.706 0.836 0.21v0.305Q0.551 0.517 0.351 0.72 0.151 0.923 0.12 1.225Z"
            fill="#ffffff" stroke="#000000" stroke-width="0.12" stroke-linejoin="round" />
        </svg>
      </div>
    </button>
  </div>

  <!-- Botón flotante con dropdown -->
  <div class="relative">
    <button class="z-20 text-white flex flex-col shrink-0 grow-0 justify-around 
                fixed top-10 left-10 mt-5 mr-5 lg:mr-10 lg:mt-10 xl:mr-15 xl:mt-15
                rounded-lg bg-orange-600 p-3" (click)="toggleDropdown($event)">
      <div class="flex items-center">
        <svg width="24px" height="24px" viewBox="0 0 0.48 0.48" xmlns="http://www.w3.org/2000/svg" fill="#ffffff">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M0.42 0.15H0.06V0.09h0.36zm0 0.12H0.06V0.21h0.36zM0.06 0.39h0.36v-0.06H0.06z" />
        </svg>
        <span class="text-lg font-bold">Archivo</span>
      </div>
    </button>

    <!-- Dropdown con z-index alto -->
    <div *ngIf="dropdownOpen" [ngStyle]="{
      'top.px': dropdownPosition?.top,
      'left.px': dropdownPosition?.left
    }" class="absolute mt-2 bg-white rounded-lg shadow-lg border border-gray-200 z-50">
      <ul>
        <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="exportAsXMI()">
          Exportar como XMI
        </li>
        <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="exportAsPng()">
          Exportar como PNG
        </li>
        <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer" (click)="exportAsSpringBoot()">
          Exportar como Proyecto Spring Boot
        </li>
      </ul>
    </div>
  </div>
</div>